@media only screen and (max-width:480px) and (min-width:400px) {

    /* Navigation */

    #navbar ul {
        margin-left: 20px;
    }

    #navbar ul li {
        font-size: 10px;
    }

    #navbar ul li a {
        padding: 5px 8px;
    }
    .logo {
        margin: 1px 1px;
    }

    .logo img {
        margin: 5px 10px;
        height: 45px;
    }

    .logo div {
        font-size: 15px;
        font-weight: bold;
    }

    /* About Us section */
    #home {
        height: 420px;
    }

    #home h1 {
        padding: 14px;
        margin-top: 40px;
        font-size: 30px;
    }

    #home p {
        font-size: 20px;
        margin: 0px 30px;
    }

    /* Events */
    .events {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .events img {
        height: 200px;
    }

    .box h3 {
        font-size: 30px;
        padding: 10px;
    }

    .box p {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        padding: 10px 10px;
    }

    /* Student's Testimonial */
    #review {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media only screen and (max-width:400px) and (min-width:0px){
    /* Navigation */
    #navbar ul {
        margin-left: 12px;
    }

    #navbar ul li {
        font-size: 9px;
    }

    #navbar ul li a {
        padding: 5px 11px;
    }

    #navbar ul li a:hover {
        padding: 2px 5px;
    }

    .logo {
        margin: 0px 0px;
    }

    .logo img {
        margin: 2px 5px;
        height: 35px;
    }

    .logo div {
        font-size: 10px;
        font-weight: bold;
    }

    /* About Us section */
    #home {
        height: 420px;
    }

    #home h1 {
        padding: 14px;
        margin-top: 40px;
        font-size: 30px;
    }

    #home p {
        font-size: 20px;
        margin: 0px 0px;
    }

    /* Events */
    .events {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .events img {
        height: 200px;
    }
    .box{
        margin: 10px;
        padding: 10px;
        grid-gap: 1rem;
    }
    .box h3 {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .box p{
        display: block;
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        padding: 10px 5px;
    }
    /* Student's Testimonial */
    #review {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}